.dummyClass{color:black;}

.radio-combo-inline .slds-form-element__control .slds-radio
{
    display: inline-block !important;
}

.create-property-css {
    margin-top: 40px;
}

.css-for-property {
    border-bottom: 1px solid grey;
}

.pricebook-picklist-css {
    margin-top: 2rem;
}
/* .property-name-for-product {
    margin-top: 10px;
    margin-bottom: 10px;
} */